<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Prediction App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
      <header class="header">
        <h1>Image Prediction</h1>
        <a href="/">Home</a>
      </header>

    <div class="content">  <form method="POST" enctype="multipart/form-data" action="/predict">
        <label for="image">Select image to upload (jpg, jpeg, png only):</label>
        <input type="file" name="image" id="image" accept=".jpg,.jpeg,.png">
        <br>
        <input type="submit" value="Predict">
      </form>

      {% if message %}
        <p style="color: red">{{ message }}</p>
      {% endif %}

      <div id="prediction-results"></div>
    </div>
  </div>  
</body>
</html>
